---
import Footer from "../components/Footer.astro";
import "../styles/general.css";
import Omsideanimation from "../components/Omsideanimation.astro";
import Karrusel from "../components/Karrusel.astro";
import Header from "../components/Header.astro";
import Faelgmed from "../components/Faelgmed.astro";
import Mainlayout from "../layouts/mainlayout.astro";
---

<Mainlayout>
  <Header />
  <main>
    <div class="grid_omside">
      <section class="animation_img">
        <img class="dame" src="../img/springdame.webp" alt="dame" />
        <img class="kaffe" src="../img/kaffekop.webp" alt="kop" />
        <img class="vippe" src="../img/vippe.webp" alt="vippe" />
        <img class="storedraabe" src="../img/stordraabe.webp" alt="dråbe" />
        <img class="storedraabe2" src="../img/stordraabe2.webp" alt="dråbe" />
        <img class="lilledraabe" src="../img/lilledraabe.webp" alt="lille dråbe" />
        <img class="lilledraabe2" src="../img/lilledraabe2.webp" alt="lille dråbe" />
        <img class="lilledraabe3" src="../img/lilledraabe2.webp" alt="lille dråbe" />
      </section>
      <div class="omgrums_txt">
        <h2>Dyk ned i Grums</h2>
        <p>
          Velkommen til Grums, hvor vi prioriterer en afslappet og uformel atmosfære, så vores gæster altid føler sig hjemme. Vores mål er at skabe et rum uden elitisme, hvor alle, uanset baggrund eller status, kan føle sig inkluderet. . Vores kalender er fyldt med spændende arrangementer såsom quizzer, vinsmagninger og kunstneriske ferniseringer, der giver plads til nye talenter. Du kan finde vores aktuelle <a href="/index">events her.</a>
        </p>
        <br />
        <br />
        <h2>Et Rum for Alle</h2>
        <p>Grums bryder med prætentiøse og formelle normer, værdsætter ægthed og ærlighed, og tilbyder altid priser, der er tilgængelige for ethvert budget. Vi arbejder for at skabe et fællesskab, der fremmer mangfoldighed og inklusion. Hos os handler det om at bevare en autentisk og afslappet stemning, så alle føler sig velkomne og værdsatte.</p>
      </div>
    </div>

    <Karrusel />
    <Faelgmed />
  </main>
</Mainlayout>

<style>
  a {
    color: var(--color-primary);
    font-weight: bold;
  }
  .omgrums_txt {
    padding: 35px;
    font-size: var(--font-size-p-mobile);
    line-height: 1.5;
    margin: 10px 20px;
  }
  .animation_img {
    width: 100vw;
    height: 58vh;
  }
  .dame {
    width: 28%;
    position: relative;
    left: 40%;
    padding-top: 10%;
    animation: fall 6s infinite linear; /* 5 sekunders animationstid */
  }

  @keyframes fall {
    0% {
      transform: translateY(-20%); /* Start lidt over viewport */
    }
    100% {
      transform: translateY(5vh); /* Slut lidt under viewport */
    }
  }

  .kaffe {
    width: 43%;
    position: absolute;
    left: 33%;
    top: 50%;
  }

  .vippe {
    width: 37%;
    position: absolute;
    top: 18%;
  }

  .storedraabe {
    width: 12%;
    position: absolute;
    top: 47%;
    left: 69%;
    animation: flyUp 2s infinite alternate; /* 10 sekunders animationstid */
  }
  @keyframes flyUp {
    0% {
      transform: translateY(0); /* Start ved nuværende position */
    }
    100% {
      transform: translateY(-3vh); /* Slut ved toppen af viewport */
    }
  }

  .storedraabe2 {
    width: 12%;
    position: absolute;
    top: 47%;
    left: 32.5%;
    animation: flyUp 3s infinite alternate; /* 10 sekunders animationstid */
  }

  .lilledraabe {
    width: 5%;
    position: absolute;
    top: 44%;
    left: 44%;
    animation: flyUp 3s infinite alternate; /* 10 sekunders animationstid */
  }

  .lilledraabe2 {
    width: 5%;
    position: absolute;
    top: 45%;
    left: 65%;
    animation: flyUp 4s infinite alternate; /* 10 sekunders animationstid */
  }

  .lilledraabe3 {
    width: 3%;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: scaleX(-1);
    animation: flyUp 2s infinite alternate; /* 10 sekunders animationstid */
  }

  @media (min-width: 450px) {
    .animation_img {
      width: 100vw;
      height: 60vh;
    }
    .dame {
      width: 22%;
      position: relative;
      left: 38%;
      padding-top: 10%;
    }

    .kaffe {
      width: 30%;
      position: absolute;
      left: 36%;
      top: 50%;
    }

    .vippe {
      width: 28%;
      position: absolute;
      top: 18%;
    }

    .storedraabe {
      width: 6%;
      position: absolute;
      top: 48%;
      left: 60%;
    }

    .storedraabe2 {
      width: 6%;
      position: absolute;
      top: 48%;
      left: 36.5%;
    }

    .lilledraabe {
      width: 3%;
      position: absolute;
      top: 45%;
      left: 43%;
    }

    .lilledraabe2 {
      width: 3%;
      position: absolute;
      top: 46%;
      left: 58%;
    }

    .lilledraabe3 {
      width: 2%;
      position: absolute;
      top: 49%;
      left: 47%;
      transform: scaleX(-1);
    }
  }

  @media (min-width: 700px) {
    .grid_omside {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin: 20px;
    }

    .omgrums_txt {
      padding: 40px;
      font-size: var(--font-size-p-desktop);
      line-height: 1.5;
      margin: 115px 40px;
    }
    .animation_img {
      width: 50vw;
      height: 90vh;
    }
    .dame {
      width: 28%;
      position: relative;
      left: 38%;
      padding-top: 10%;
    }

    .kaffe {
      width: 20%;
      position: absolute;
      left: 19%;
      top: 70%;
    }

    .vippe {
      width: 15%;
      position: absolute;
      top: 18%;
    }

    .storedraabe {
      width: 6%;
      position: absolute;
      top: 64%;
      left: 35.5%;
    }

    .storedraabe2 {
      width: 6%;
      position: absolute;
      top: 64%;
      left: 17.5%;
    }

    .lilledraabe {
      width: 2%;
      position: absolute;
      top: 61%;
      left: 24%;
    }

    .lilledraabe2 {
      width: 2%;
      position: absolute;
      top: 65%;
      left: 33%;
    }

    .lilledraabe3 {
      width: 1.5%;
      position: absolute;
      top: 68%;
      left: 25%;
      transform: scaleX(-1);
    }
  }

  @media (min-width: 1000px) {
    .grid_omside {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin: 20px;
    }
    .animation_img {
      width: 50vw;
      height: 90vh;
    }
    .dame {
      width: 20%;
      position: relative;
      left: 38%;
      padding-top: 10%;
    }

    .kaffe {
      width: 18%;
      position: absolute;
      left: 19%;
      top: 70%;
    }

    .vippe {
      width: 15%;
      position: absolute;
      top: 18%;
    }

    .storedraabe {
      width: 4%;
      position: absolute;
      top: 66%;
      left: 35%;
    }

    .storedraabe2 {
      width: 4%;
      position: absolute;
      top: 67%;
      left: 18.5%;
    }

    .lilledraabe {
      width: 1.5%;
      position: absolute;
      top: 61%;
      left: 21.5%;
    }

    .lilledraabe2 {
      width: 1.5%;
      position: absolute;
      top: 67%;
      left: 33%;
    }

    .lilledraabe3 {
      width: 1%;
      position: absolute;
      top: 68%;
      left: 24%;
      transform: scaleX(-1);
    }
  }
</style>
