---
import Mainlayout from "../layouts/mainlayout.astro"
import "../styles/general.css";
import Form from "../components/Form.astro"
import Header from "../components/Header.astro";
---



<Mainlayout>
    <Header></Header>
<Form></Form>

</Mainlayout>