---
import "../styles/general.css";
---

<nav class="nav-bar">
  <ul>
    <li>
      <a href="/">Forside</a>
    </li>
    <li>
      <a href="/omgrums">Om Grums</a>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<style>
  a {
    color: var(--beige);
    font-size: var(--font-size-h2-mobile);
    margin-top: 5%;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: 1px solid var(--beige);
    padding: 15px 60px;
    max-width: 200px;
    min-width: 250px;
    font-family: Roboto;
  }
  a:hover {
    color: var(---red);
    background-color: var(--beige);
  }

  li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ul {
    display: none;
    position: absolute;
    right: -1000px;
    background-color: var(---red);
    flex-direction: column;
    width: 100vw;
    height: 105vh;
    transition: 0.5s;
    padding-top: 200px;
  }

  ul.active {
    right: 0;
    z-index: 100;
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1000;
    transition: right 0.4s ease-in;
  }

  .hamburger.active {
    right: 40px;
    transition: right 0.4s ease-in;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(---red);
    z-index: 1000;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--beige);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--beige);
  }

  @media (min-width: 800px) {

    a {
    color: var(--beige);
    font-size: var(--font-size-h2-mobile);
    margin-top: 5%;
    text-decoration: none;
    display: inline-block;
    width: auto;
    border: 1px solid var(--beige);
    padding: 15px 60px;
    max-width: 200px;
    min-width: 250px;
    font-family: Roboto;
  }
  a:hover {
    color: var(---red);
    background-color: var(--beige);
  }

  li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  ul {
    display: none;
    right: -1000px;
    background-color: var(---red);
    flex-direction: column;
    width: 100vw;
    height: 105vh;
    transition: 0.5s;
    padding-top: 200px;

  }

  ul.active {
    right: 0;
    z-index: 100;
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1000;
    transition: right .4s ease-in;
  }


  .hamburger.active {
    right: 40px;
    transition: right .4s ease-in;
  }

  .bar {
    display: block;
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(---red);
    z-index: 1000;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: var(--beige);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--beige);
ß  }
    .hamburger {
      /* margin-left: 90%; */
    }
    ul {
      display: none;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 50vw;
      list-style-type: none;
      position: absolute;
    }
  }
</style>

<script>
  const burgerMenu = document.querySelector("ul"); // Erstat ".nav-menu" med din burgermenu's selector
  const burgerButton = document.querySelector(".hamburger"); // Erstat ".hamburger" med din burgerknap's selector

  burgerButton.addEventListener("click", toggleSideMenu);

  function toggleSideMenu() {
    burgerMenu.classList.toggle("active");
    burgerButton.classList.toggle("active");
  }
</script>
