---
import "../styles/general.css";
const { data } = Astro.props;
---


<article>
    <img src="../../public/img/grums_fernisering.webp" alt="">
    <div class="text">
        <!-- <p>{data.name}</p>
        <p>{data.price}</p> -->
    </div>

    
</article>


<style>

article {
    width: 300px;
    color: white;
    margin-left: 6rem;
    white-space: nowrap;
    height: 500px;
  }

  .text{
    border: 2px solid var(---red);
    display: flex;
    justify-content: center;
    gap: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
</style>