---
import "../styles/general.css";
---

<button class="event_knap">Se Events</button>

<style>
  .event_knap {
    background-color: var(---red);
    color: var(--beige);
    padding: 12px 20px;
    border: 2px soild var(---red);
    border-radius: 10px;
    font-size: var(--font-size-h3-mobile);
  }

  .event_knap:hover {
    background-color: var(--beige);
    border: 2px solid var(---red);
    color: var(---red);
    padding: 10px 20px;
  }

  @media (min-width: 800px) {
    .event_knap {
      font-size: var(--font-size-h3-desktop);
    }
  }
</style>
