---
import "../styles/general.css";
---

<div class="faelgmed">
  <a href="https://www.instagram.com/grumscph/?hl=da">Følg med på Instagram</a>
  <p>Del din eventoplevelse med #grumsevents</p>
</div>

<style>
  .faelgmed {
    margin: 20px 20px 130px 20px;
  }
  p {
    font-family: Roboto;
    color: var(--red);
    font-size: var(--font-size-h3-mobile);
    text-align: center;
  }
  a {
    color: var(--red);
    font-size: var(--font-size-links-mobile);
    font-family: Roboto;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Roboto;
    color: var(--red);
    padding: 10px;
  }
  @media (min-width: 800px) {
    .faelgmed {
      margin-bottom: 150px;
    }

    a {
      font-size: var(--font-size-links-desktop);
    }
  }
</style>
