---
import "../styles/general.css";
---

<section class="container">
    <header>Registrering</header>
    <form action="#" class="form">
<div class="input-box">
    <label>Fulde navn</label>
    <input type="text" placeholder="Skriv fulde navn">
</div>
<div class="input-box">
    <label>Fulde navn</label>
    <input type="text" placeholder="Skriv fulde navn">
</div>

    </form>
</section>


<style>
    section{
display: flex;
align-items: center;
    }
</style>