---
import "../styles/general.css";
---

<section>
  <div class="overskrifter">
    <h3 class="overskrifter_tekst">Vin & Øl</h3>
    <h3 class="overskrifter_tekst">Kaffe & Bagværk</h3>
    <h3 class="overskrifter_tekst">Kunst</h3>
    <h3 class="overskrifter_tekst">Fælleskab</h3>
    <h3 class="overskrifter_tekst">Mødested</h3>
  </div>
  <div class="animation">
    <div>
      <img class="vinflaske" src="../img/flaskevin.webp" alt="flaskevin" />
    </div>
    <div>
      <img class="vinglas" src="../img/vinglas.webp" alt="vinglas" />
    </div>
    <div>
      <img class="kop" src="../img/kaffekop2.webp" alt="kaffekop" />
    </div>
    <div>
      <img class="disco" src="../img/disco.webp" alt="disco" />
    </div>
    <div>
      <img class="crossaint" src="../img/crossaint.webp" alt="crossaint" />
    </div>
  </div>
</section>
<style>
  section {
    margin-top: 150px;
  }
  .overskrifter {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
  }

  .overskrifter_tekst {
    padding-bottom: 10px;
    font-weight: 400;
    font-family: "calliope-mvb", sans-serif;
    font-weight: 500;
    font-size: var(--font-size-h1-mobile);
  }

  .animation {
    height: 70px;
    position: relative;
  }

  .animation img {
    position: absolute;
  }

  .vinflaske {
    width: 130px;
    left: 11.6%;
    top: -503px;
    padding-top: 10%;
    animation: rotate 1.5s infinite linear; /* 5 sekunders animationstid */
  }

  .vinglas {
    width: 50px;
    left: 6%;
    top: -375px;
    animation: rotate 1.5s infinite linear; /* 5 sekunders animationstid */
  }

  .disco {
    width: 80px;
    left: 15%;
    top: -225px;
    animation: pulse 1s infinite linear; /* 5 sekunders animationstid */
  }

  .crossaint {
    width: 80px;
    left: 62.5%;
    top: -146px;
    animation: rotate 1.5s infinite linear; /* 5 sekunders animationstid */
  }
  .kop {
    width: 83px;
    left: 66%;
    top: -283px;
    animation: drej 1.5s infinite; /* 5 sekunders animationstid */
  }

  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }

  @keyframes drej {
    0% {
      rotate: 0;
    }

    100% {
      rotate: 360deg;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(-9deg);
    }
    50% {
      transform: rotate(9deg);
    }
    100% {
      transform: rotate(-9deg);
    }
  }

  @media (min-width: 500px) {
    .vinflaske {
      left: 15%;
      top: -580px;
    }

    .vinglas {
      left: 9.5%;
      top: -429px;
    }

    .disco {
      left: 15.5%;
      top: -248px;
    }

    .crossaint {
      left: 63.5%;
      top: -140px;
    }
    .kop {
      left: 61%;
      top: -311px;
    }
  }

  @media (min-width: 690px) {
    .overskrifter_tekst {
      font-size: var(--font-size-h1-desktop);
    }
    .vinflaske {
      left: 23%;
      top: -610px;
    }

    .vinglas {
      left: 18.5%;
      top: -429px;
    }

    .disco {
      left: 25.5%;
      top: -248px;
    }

    .crossaint {
      left: 60%;
      top: -138px;
    }
    .kop {
      left: 61%;
      top: -311px;
    }
  }
  @media (min-width: 820px) {
    .vinflaske {
      left: 27%;
      top: -570px;
    }

    .vinglas {
      left: 23%;
      top: -393px;
    }

    .disco {
      left: 29.5%;
      top: -232px;
    }

    .crossaint {
      left: 55%;
      top: -138px;
    }
    .kop {
      left: 56.5%;
      top: -293px;
    }
  }

  @media (min-width: 950px) {
    .vinflaske {
      left: 30%;
      top: -582px;
    }

    .vinglas {
      left: 27%;
      top: -380px;
    }

    .disco {
      left: 34.5%;
      top: -232px;
    }

    .crossaint {
      left: 57%;
      top: -138px;
    }
    .kop {
      left: 55.5%;
      top: -288px;
    }
  }

  @media (min-width: 1100px) {
    .vinflaske {
      left: 37%;
      top: -630px;
    }

    .vinglas {
      left: 35%;
      top: -385px;
    }

    .disco {
      left: 38%;
      top: -232px;
    }

    .crossaint {
      left: 54%;
      top: -138px;
    }
    .kop {
      left: 53.5%;
      top: -288px;
    }
  }
</style>
