---
import "../styles/general.css";
import Eventliste from "./Eventliste.astro";

const data = await fetch("https://fkvbxsksimndhsbkchww.supabase.co/rest/v1/events", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrdmJ4c2tzaW1uZGhzYmtjaHd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4NjAzNjIsImV4cCI6MjAzMTQzNjM2Mn0.I7TEX9S8OxEgBrIqbrRGY80VTS1Du_GIGu_tTfMhudk",
  },
}).then((res) => res.json());
---

<div class="karrusel_forside">
  <div class="container_event">
    <div class="slider_event">
      <button id="prev_slide" class="pil"> <img src="/img/pil_left.webp" alt="pil_knap" /> </button>
      <div class="img_event">
        <section class="events">
          {
            data.map((event) => {
              return <Eventliste data={event} />;
            })
          }
        </section>
      </div>
      <button id="next_slide" class="pil"> <img src="/img/pil_right.webp" alt="pil_knap" /> </button>
    </div>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .karrusel_forside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .slider_event .img_event {
    display: grid;
    gap: 15px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(6, 1fr);
  }

  .slider_event .img_event::-webkit-scrollbar {
    display: none;
  }

  .slider_event .img_event {
    width: 390px;
    object-fit: cover;
  }


  .slider_event {
    position: relative;
  }

  .slider_event .pil {
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-90%);
  }

  .slider_event .pil:hover {
    opacity: 30%;
  }

  .slider_event .pil#prev_slide {
    left: 300px;
    top: -5%;
  }

  .slider_event .pil#next_slide {
    right: 20px;
    top: -5%;
  }

  .events {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 800px) {
    .karrusel_forside {
      /* width: 1430px; */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }

    .slider_event .img_event {
      display: grid;
      gap: 15px;
      font-size: 0;
      overflow-x: auto;
      scrollbar-width: none;
      grid-template-columns: repeat(6, 1fr);
    }

    .slider_event .img_event::-webkit-scrollbar {
      display: none;
    }

    .slider_event .img_event {
      width: 795px;
      object-fit: cover;
    }
    .slider_event {
      position: relative;
    }

    .slider_event .pil {
      position: absolute;
      top: 50%;
      height: 30px;
      width: 30px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      transform: translateY(-90%);
    }

    .slider_event .pil:hover {
      opacity: 30%;
    }

    .slider_event .pil#prev_slide {
      left: 700px;
      top: -5%;
    }

    .slider_event .pil#next_slide {
      right: 20px;
      top: -5%;
    }

    .events {
      display: flex;
      flex-direction: row;
    }
  }

  @media (min-width: 1000px) {
    .slider_event .pil#prev_slide {
      left: -120px;
      top: 50%;
    }

    .slider_event .pil#next_slide {
      right: -120px;
      top: 50%;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const prevButton = document.getElementById("prev_slide");
    const nextButton = document.getElementById("next_slide");
    const imgContainer = document.querySelector(".slider_event .img_event");

    const scrollAmount = 380; // Juster denne værdi efter behov

    prevButton.addEventListener("click", function () {
      imgContainer.scrollLeft -= scrollAmount;
    });

    nextButton.addEventListener("click", function () {
      imgContainer.scrollLeft += scrollAmount;
    });
  });
</script>
