---
import "../styles/general.css";
---

<div class="karrusel">
  <div class="container">
    <div class="slider_wrapper">
      <div class="slider_button_wrapper">
        <div class="slider_button_container">
          <button id="forrig_slide" class="arrow"> <img src="/public/img/pil_left.webp" alt="pil_knap" /> </button>
          <button id="naste_slide" class="arrow"> <img src="/public/img/pil_right.webp" alt="pil_knap" /> </button>
        </div>
      </div>
      <div class="image_list">
        <img src="public/img/gertrud_jose.webp" alt="image1" class="image_item" />
        <img src="public/img/billede2.webp" alt="image2" class="image_item2" />
        <img src="public/img/vin.webp" alt="image3" class="image_item" />
        <img src="public/img/piger_udenfor.webp" alt="image4" class="image_item" />
        <img src="public/img/billede6.webp" alt="image6" class="image_item3" />
        <img src="public/img/vin_grums.webp" alt="image5" class="image_item" />
        <img src="public/img/piger_udenfor2.webp" alt="image7" class="image_item" />

      </div>
    </div>
    <div class="slider_scrollbar">
      <div class="scrollbar_track">
        <div class="scrollbar_thumb"></div>
      </div>
    </div>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  .karrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
  }

  .container {
    width: 95%;
    max-width: 1200px;
  }
  .slider_wrapper .image_list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    overflow-x: auto;
    font-size: 0;
    scrollbar-width: none;
    gap: 15px;
    margin-bottom: 30px;
  }

  .slider_wrapper .image_list::-webkit-scrollbar {
    display: none;
  }

  .slider_wrapper .image_list .image_item {
    width: 325px;
    height: 400px;
    object-fit: cover;
  }

  .image_item2 {
    width: 380px;
    margin: auto;
  }

  .image_item3 {
    width: 480px;
    margin: auto;
  }

  .container .slider_scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .slider_scrollbar .scrollbar_track {
    height: 2px;
    width: 100%;
    background: lightgray;
    border-radius: 4px;
    position: relative;
  }

  .slider_scrollbar .scrollbar_thumb:active {
    cursor: grabbing;
    height: 3px;
    top: -2px;
  }

  .slider_scrollbar .scrollbar_thumb:hover {
    height: 3px;
  }

  .slider_scrollbar .scrollbar_thumb {
    height: 100%;
    width: 20%;
    background: var(---red);
    border-radius: inherit;
    cursor: grab;
    position: absolute;
    overflow: auto;
  }

  .slider_scrollbar .scrollbar_thumb::after {
    content: "";
    position: absolute;
    right: 0;
    top: -10px;
    bottom: -10px;
  }

  .slider_wrapper .arrow {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
  }

  .slider_wrapper .arrow:hover {
    opacity: 0.5;
  }

  .slider_button_wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    height: 35px;
  }
  .slider_button_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  @media (min-width: (1200/95)px) {
    .slider_button_container {
      margin-right: 5%;
    }
  }
</style>

<script>
  console.log("run");
  const prevButton = document.querySelector("#forrig_slide");
  const nextButton = document.getElementById("naste_slide");
  const imgContainer = document.querySelector(".slider_wrapper .image_list");
  let maxScrollLeft;
  const scrollAmount = 250;
  const scrollbarThumb = document.querySelector(".slider_scrollbar .scrollbar_thumb");

  window.addEventListener("load", () => {
    maxScrollLeft = imgContainer.scrollWidth - imgContainer.clientWidth;
  });

  window.addEventListener("resize", () => {
    maxScrollLeft = imgContainer.scrollWidth - imgContainer.clientWidth;
  });

  imgContainer.addEventListener("scroll", () => {
    scrollbarThumb.style.left = `${(imgContainer.scrollLeft / maxScrollLeft) * 80}% `;
  });

  prevButton.addEventListener("click", () => {
    imgContainer.scrollLeft -= scrollAmount;
  });

  nextButton.addEventListener("click", () => {
    imgContainer.scrollLeft += scrollAmount;
  });
</script>
