---

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---


<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grums</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://use.typekit.net/oaq6rxj.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ff2cb96f80.js" crossorigin="anonymous"></script>
</head>
<body>

    
    <slot/>
    
    <div class="divider" style="border-bottom: 2px solid #FFCE5C"></div>
   <Footer></Footer>
</body>
</html>


<style>
    .divider {
    margin-bottom: 60px;
    
}
@media (min-width: 800px){
    .divider {
    margin-bottom: 100px;}
}

</style>